/* @import url("https://fonts.googleapis.com/css2?family=poppins:wight@300;400; 500&display=swap"); */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
body h1{
    color: #282f59;
}
header{
    /* background-image: url("images/tb7.jpeg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    min-height: 15vh;
    box-shadow: var(border-box);
}
.row {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    background: rgb(0, 0, 250, 0.512);
}
.logo{
    margin-left: 10px;
    color: blue;
    font-size: 40px;
    
}
.ctn {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(255,207,145), rgb(255,111,92));;
    border-radius: 50px;
    color: black;
}
.ctn:hover{
    background: linear-gradient(to bottom right, rgb(255,111,92), rgb(255,207,145));
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Desktop responsive */
.about .about_btn{
    font-size: 17px;
    border: none;
    outline: none;
    margin: 0;
}
.about_content{
    display: none;
    position: absolute;
    background: whitesmoke;
    min-width: 160px;
}
.about .about_btn{
    color: black;
}
.about_btn:hover{
    color: black;
    background: rgb(230, 64, 3);
    border-radius: 50px;
    padding: 10px;
}
.about_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.about_content a:hover,
.about_btn:hover{
    color: blue;
    cursor: pointer;
}
.about:hover .about_content{
    display: block;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    /* padding: 0px 50px; */
    align-items: center;
    background: whitesmoke;
    position: fixed;
    height: 15%;
}
.navbar ul{
    flex: 1;
    text-align: right;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    
}
.navbar ul li a:hover{
    color: white;
    background: rgb(230, 64, 3);
    border-radius: 30px;
}

/* mobile responsive */

.logo {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    border-radius: 20px;
}
.Tech ul{
    flex: 1;
    text-align: right;
    

}
.Tech  .about_btn{
    list-style: none;
    display: inline-block;
    margin: 0px 20px 20px;
}
.Tech li .about_btn{
    text-decoration: none;
    color: black;
    
}
.Tech .about_btn:hover{
    border: none;
}

.Tech{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Mobile Responssive */
.navBtn{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .navBtn{
        display: block;
    }
    
}
@media(max-width: 400px){
    .Tech{
        width: 100%;
    }
    
}
@media(max-width: 850px){
    .navbar .hideOnMobile{
        display: none;
    }
    
}
@media(min-width: 851px){
    .navbar .navBtn{
        display: none;
    }
}

 /*ourvalue*/

.coop-foss{
    width: 50;
}

.containers{
    padding: 1rem;
    display: flex;
    /* margin-top: 15%; */
    
    

}

.containers2{
    padding: 1rem;
    display: flex;
    margin-top: 0%;
}

.containers h2{
    color: black;
}

.margin-top-header{
    width: 100%;
    height: 50%;
    margin-top: 100px;
}

.pen{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 30px;
}

.header-title{
    float: right;
    background-color:whitesmoke;
    width: 48%;
    height: 49%;
    text-align: center;
    font-size: x-large;
    margin-left: 50px;

    
}

.mainheader-title{
    margin-top: 1px;
}

.header-title h3{
    margin-top: 20px;
}

.header-title h1{
    color: cadetblue;
}

.Principles-content{
    width: 47%;
    float: right;
    margin-bottom: 0%;
    height: 100%;
    margin-right: 2%;
    margin-top: 0%;
}

.Principles-content h2{
    float: none;
    margin-bottom: 10%;
    font-size: xx-large;
    margin-left: 8%;
    color: cadetblue;
}

.justice{
    width: 51%;
    margin-top: 0%;
    height: 100%;
}

.justice #justice-img{
    width: 90%;
    margin-top: 0%;
    height: 99%;
}

.Principles-content ol li p{
    margin-bottom: 17%;
    font-size: x-large;
    margin-left: 0%;
    width: 90%;


}

.Principles-content ol li{
    margin-bottom: 0%;
    font-size: x-large;
    margin-left: 10%;
    width: 90%;
}

.rows{
    padding: 1rem;
    display: flex;
    margin-top: 0%;
}

.col-left{
    width: 50%;
    height: 40%;
    float: left;
    padding-left: 2.5%;
}

.old-programmer{
    width: 100%;
    height: 20%;
}

.coop-foss-container{
    background-color:cornflowerblue;
}

.coop-foss{
    width: 47%;
    background-color: aqua;
    float:right;
    margin-right: 3%;
}

.text-white{
    margin-left: 5%;
    margin-bottom: 2%;
}

.text-header{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3.3%;
    font-size: 250%;
}

.ripped-paper{
    margin-top: 5%;
}
@media screen and (max-width: 600px){
    .header-title{
        float: none;
        background-color:whitesmoke;
        width: 100%;
        height: 45%;
        text-align: center;
        font-size: x-large;
        margin-left: 0px;
    }

    .margin-top-header{
        width: 100%;
        height:30%;
        margin-top: 50px;
    }

    .pen{
        width: 100%;
        height: 90%;
        float: none;
        margin-left: 0px
    }
    
    .containers{
        width: 100%;
        height: 90%;
        background-color: #2af598;
    }

    .Principles-content{
        width: 100%;
        float: none;
        margin-bottom: 0%;
        height: 50%;
        margin-right: 2%;
        margin-top: 0%;
        display: contents;
    }
    
    .Principles-content h2{
        float: none;
        margin-bottom: 10%;
        font-size: xx-large;
        margin-left: 8%;
        color: cadetblue;
    }
    
    .justice{
        width: 100%;
        margin-top: 0%;
        height: 100%;
        display: contents;
    }
    
    .justice #justice-img{
        width: 90%;
        margin-top: 0%;
        height: 35%;
    }
    
    .Principles-content ol li p{
        margin-bottom: 7%;
        font-size: x-large;
        margin-left: 0%;
        width: 90%;
        overflow: hidden;
        
    
    }
    
    .Principles-content ol li{
        margin-bottom: 0%;
        font-size: x-large;
        margin-left: 10%;
        width: 90%;
    }

    .rows{
        padding: 1rem;
        display: block;
        margin-top: 0%;
    }
    
    .col-left{
        width: 100%;
        height: 40%;
        float: none;
        padding-left: 0%;
    }
    
    .old-programmer{
        width: 100%;
        height: 20%;
    }
    
    .coop-foss{
        width: 100%;
        background-color: aqua;
        float:none;
        margin-right: 3%;
        overflow: none;
        text-align: left;
    }
    
    .text-white{
        margin-left: 5%;
        margin-bottom: 2%;
        margin-right: 5%;
    }
    
    .text-header{
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 3.3%;
        font-size: 200%;
    }
    
    .ripped-paper{
        margin-top: 5%;
        width: 80%;
        text-align: left;
        margin-left: 10%;
    }


}

/* footer */
.sub-footer{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.footer{
    background-color: whitesmoke;
}
.footer h2{
    padding-left: 2rem;
    padding-top: 2rem;
    color: rgb(25, 25, 152);
}

.cont{
   margin-bottom: 20px; 
   margin-top: 10px;
}
.cont i{
    font-size: 40px;
    margin-top: 20px;
}










